<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" routerLink="/admin/products/new"  >Create a New Product</button>

    <div class="mt-3 mb-3">
        <input type="text" class="form-control" #queryStm (keyup)="filter(queryStm.value)" name="search" id="search" placeholder="Search ...">
    </div>

     <data-table id="my-products"
      [title]="'Products'"
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"
      >
      <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true"
            [resizable]="true"  >
        </data-table-column>

        <data-table-column
            [property]="'price'"
            [header]="'Price'"
            [sortable]="true">
            /* Se agrega este ng template porque price tiene un formato especial */
            <ng-template #dataTableCell let-item="item">
                <span>{{ item.price | currency:'USD':'symbol-narrow' }}</span>
            </ng-template>
        </data-table-column>


        <data-table-column
        [header]="'Action'">
            /* Se agrega este ng template porque price tiene un formato especial */
            <ng-template #dataTableCell let-item="item">
                <a [routerLink]="['/admin/products' , item.id ]"><i class="fa fa-pencil-square" ></i></a>
            </ng-template>
        </data-table-column>



    </data-table>

  </div>
</div>
