/* You can add global styles to this file, and also import other style files */

/* Sticky footer */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
